swagger: "2.0"
info:
  description: "API specification for Objects Store"
  version: "v0.0.1"
  title: "Store API"
  termsOfService: ""
  contact:
    email: "omecodes@gmail.com"
  license:
    name: "GNU Affero General Public License v3.0"
host: "firexio.com"
basePath: "/"
tags:
  - name: "Collections"
    description: "Class of objects"
  - name: "Objects"
    description: "JSON documents"
  - name: "ACL"
    description: "Objects access rule list"
schemes:
  - "https"
  - "http"

paths:

  /collections:
    put:
      tags:
        - "Collections"
      summary: "Create a collection and define default indexes for all its objects"
      operationId: "CreateCollection"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    get:
      tags:
        - "Collections"
      summary: "List all collections"
      description: ""
      operationId: "ListCollections"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /collections/{id}:
    parameters:
      - in: path
        name: "id"
        required: true
        type: string
        description: "collection id"
    get:
      tags:
        - "Collections"
      summary: "Get collection info"
      description: ""
      operationId: "GetCollection"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    delete:
      tags:
        - "Collections"
      summary: "Delete a collection"
      description: ""
      operationId: "DeleteCollection"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to delete this resource"
        "404":
          description: "Resource not found"

  /objects/{collection}:
    parameters:
      - in: path
        name: "collection"
        required: true
        type: string
        description: "collection id"
    put:
      tags:
        - "Objects"
      summary: "Saves an object"
      operationId: "CreateObject"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    get:
      tags:
        - "Objects"
      summary: "Get objects list"
      description: ""
      operationId: "ListObjects"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: number
          name: before
        - in: query
          type: number
          name: offset
        - in: query
          type: number
          name: count
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "Objects"
      summary: "Search for objects"
      description: ""
      operationId: "SearchObjects"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: number
          name: before
        - in: query
          type: number
          name: offset
        - in: query
          type: number
          name: count
        - in: body
          name: params
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /objects/{collection}/{id}:
    parameters:
      - in: path
        name: "collection"
        required: true
        type: string
        description: "collection id"
      - in: path
        name: "id"
        required: true
        type: string
        description: "object id"
    put:
      tags:
        - "Objects"
      summary: "Save an object to the store with id"
      operationId: "CreateObjectWithID"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    patch:
      tags:
        - "Objects"
      summary: "Patch an object"
      description: ""
      operationId: "Patch"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
        - in: query
          required: true
          type: string
          name: path
      responses:
        "400":
          description: "Bad input"
        "403":
          description: "You are not allowed to edit this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "Objects"
      summary: "Move an object from a collection to another"
      description: ""
      operationId: "Move"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Bad input"
        "403":
          description: "You are not allowed to edit this resource"
        "404":
          description: "Resource not found"
    get:
      tags:
        - "Objects"
      summary: "Get an object"
      description: ""
      operationId: "GetObject"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: boolean
          name: info
        - in: query
          type: string
          name: path
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    delete:
      tags:
        - "Objects"
      summary: "Delete an object"
      description: ""
      operationId: "DeleteData"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: string
          name: path
      responses:
        "403":
          description: "You are not authorized to delete this resource"
        "404":
          description: "Resource not found"

  /objects/{collection}/{id}/acl:
    parameters:
      - in: path
        name: "collection"
        required: true
        type: string
        description: "collection id"
      - in: path
        name: "id"
        required: true
        type: string
        description: "object id"
    get:
      tags:
        - "ACL"
      summary: "Get an object ACL"
      description: ""
      operationId: "GetACL"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "ACL"
      summary: "Update object ACL"
      description: ""
      operationId: "UpdateACL"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"