swagger: "2.0"
info:
  description: "API specification for Store"
  version: "v0.0.1"
  title: "Store API"
  termsOfService: ""
  contact:
    email: "omecodes@gmail.com"
  license:
    name: "GNU Affero General Public License v3.0"
host: "omestore.com"
basePath: "/api"
tags:
  - name: "AUTH"
    description: "Authentication"
  - name: "OBJECTS"
    description: "JSON documents"
  - name: "FILES"
    description: "Files Storage"
schemes:
  - "https"
  - "http"

paths:
  /objects/collections:
    put:
      tags:
        - "OBJECTS"
      summary: "Create a collection and define default indexes for all its objects"
      operationId: "CreateCollection"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    get:
      tags:
        - "OBJECTS"
      summary: "List all collections"
      description: ""
      operationId: "ListCollections"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /objects/collections/{id}:
    parameters:
      - in: path
        name: "id"
        required: true
        type: string
        description: "collection id"
    get:
      tags:
        - "OBJECTS"
      summary: "Get collection info"
      description: ""
      operationId: "GetCollection"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    delete:
      tags:
        - "OBJECTS"
      summary: "Delete a collection"
      description: ""
      operationId: "DeleteCollection"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to delete this resource"
        "404":
          description: "Resource not found"

  /objects/data/{collection}:
    parameters:
      - in: path
        name: "collection"
        required: true
        type: string
        description: "collection id"
    put:
      tags:
        - "OBJECTS"
      summary: "Saves an object"
      operationId: "CreateObject"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    get:
      tags:
        - "OBJECTS"
      summary: "Get objects list"
      description: ""
      operationId: "ListObjects"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: number
          name: before
        - in: query
          type: number
          name: offset
        - in: query
          type: number
          name: count
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "OBJECTS"
      summary: "Search for objects"
      description: ""
      operationId: "SearchObjects"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: number
          name: before
        - in: query
          type: number
          name: offset
        - in: query
          type: number
          name: count
        - in: body
          name: params
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /objects/data/{collection}/{id}:
    parameters:
      - in: path
        name: "collection"
        required: true
        type: string
        description: "collection id"
      - in: path
        name: "id"
        required: true
        type: string
        description: "object id"
    put:
      tags:
        - "OBJECTS"
      summary: "Save an object to the store with id"
      operationId: "CreateObjectWithID"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Invalid input"
        "403":
          description: "You are not authorized to create a resource"
    patch:
      tags:
        - "OBJECTS"
      summary: "Patch an object"
      description: ""
      operationId: "Patch"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
        - in: query
          required: true
          type: string
          name: path
      responses:
        "400":
          description: "Bad input"
        "403":
          description: "You are not allowed to edit this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "OBJECTS"
      summary: "Move an object from a collection to another"
      description: ""
      operationId: "Move"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        "400":
          description: "Bad input"
        "403":
          description: "You are not allowed to edit this resource"
        "404":
          description: "Resource not found"
    get:
      tags:
        - "OBJECTS"
      summary: "Get an object"
      description: ""
      operationId: "GetObject"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: boolean
          name: info
        - in: query
          type: string
          name: path
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    delete:
      tags:
        - "OBJECTS"
      summary: "Delete an object"
      description: ""
      operationId: "DeleteData"
      produces:
        - "application/json"
      parameters:
        - in: query
          type: string
          name: path
      responses:
        "403":
          description: "You are not authorized to delete this resource"
        "404":
          description: "Resource not found"

  /auth/providers:
    get:
      tags:
        - "AUTH"
      summary: "Get an object ACL"
      description: ""
      operationId: "GetACL"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "AUTH"
      summary: "Update object ACL"
      description: ""
      operationId: "UpdateACL"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /auth/providers/{name}:
    parameters:
      - in: path
        name: "name"
        required: true
        type: string
        description: "Provider name"
    get:
      tags:
        - "AUTH"
      summary: "Get an object ACL"
      description: ""
      operationId: "GetProviderInfo"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "AUTH"
      summary: "Update provider info"
      description: ""
      operationId: "UpdateProvider"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /auth/access:
    get:
      tags:
        - "AUTH"
      summary: "Get client application info"
      description: ""
      operationId: "GetClientAppInfo"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    post:
      tags:
        - "AUTH"
      summary: "Register a client application"
      description: ""
      operationId: "RegisterClientApplication"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /auth/accesses:
    get:
      tags:
        - "AUTH"
      summary: "Get client application list"
      description: ""
      operationId: "ClientApplicationList"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
    put:
      tags:
        - "AUTH"
      summary: "Register client application info"
      description: ""
      operationId: "RegisterClientAppInfo"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"

  /auth/accesses/{key}:
    parameters:
      - in: path
        name: "key"
        required: true
        type: string
        description: "Client application key"
    delete:
      tags:
        - "AUTH"
      summary: "Delete client application info"
      description: ""
      operationId: "Delete client application info"
      produces:
        - "application/json"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /auth/sessions/client-app:
    post:
      tags:
        - "AUTH"
      summary: "Create a web session for client applications"
      operationId: "CreateWebSessionApplication"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"

  /auth/users:
    put:
      tags:
        - "AUTH"
      summary: "Creates a user"
      description: ""
      operationId: "CreateUser"
      produces:
        - "application/json"
      parameters:
        - in: body
          name: acl
          schema:
            type: object
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"
    get:
      tags:
        - "AUTH"
      summary: "Search users"
      description: ""
      operationId: "SearchUsers"
      produces:
        - "application/json"
      parameters:
        - in: query
          name: "q"
          required: true
          type: string
          description: "Pattern to match user names against"
      responses:
        "403":
          description: "You are not authorized to read this resource"
        "404":
          description: "Resource not found"