[Unit]
Description=Store server
Wants=network-online.target
After=network-online.target
After=network.target
After=mysql.service
AssertFileIsExecutable=$STORE_BIN
[Service]
WorkingDirectory=
User=
AmbientCapabilities=CAP_NET_BIND_SERVICE #only if listening on port 80 o 443
ExecStart=$STORE_BIN mono
Restart=on-failure
StandardOutput=journal
StandardError=inherit
LimitNOFILE=60536
TimeoutStopSec=5
KillSignal=INT
SendSIGKILL=yes
SuccessExitStatus=0
[Install]
WantedBy=multi-user.target